
* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Helvetica Neue', 'Helvetica,simsun', '微软雅黑';
}

html, body {
    position: relative;
    height: 100%;
}

.swiper-container-1 {
    width: 100%;
    height: 100%;
}

.swiper-container-2 {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.swiper-slide-2 {
    font-size: 18px;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* -------------------------------------------------------------------------------------- */

@keyframes fade {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.075;
    }
    20% {
        opacity: 0.225;
    }
    30% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.375;
    }
    50% {
        opacity: 0.45;
    }
    60% {
        opacity: 0.525;
    }
    70% {
        opacity: 0.6;
    }
    80% {
        opacity: 0.675;
    }
    90% {
        opacity: 0.7;
    }
    100% {
        opacity: 0.7;
    }
}

#arrow-up {
    animation: fade;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.main-title-block {
    color: #000;
    padding: 50px;
}

.maintitle {
    margin: 0 0 10px 0;
    font-size: 30px;
}

.subtitle {
    font-size: 20px;
}

.collection-title-block {
    color: #000;
    padding: 30px;
}
.article-text-after-maintitle {
    text-align: left;
    padding: 0 20px 30px 20px;
    letter-spacing: 1px;
    line-height: 25px;
}

.meal-title{
    padding:20px;
    color: #000;
    font-size: 16px;
    font-weight: bold;
}

.meal-subtitle{
    padding:0 20px 20px 20px;
}

.big-title {
    font-weight: bold;
    margin: 0 0 10px 0;
    font-size: 22px;
}

.big-title2 {
    font-weight: bold;
    margin: 0 0 0 0;
    font-size: 20px;
}

.mid-title {
    margin: 0 0 10px 0;
    font-size: 15px;
}

.small-title {
    font-size: 15px;
}

.line-above-title {
    margin: 50px 0 30px 0;
    background-color: black;
    height: 2px;
    width: 60%;
}

.line-after-button {
    margin: 40px 0 30px 0;
    background-color: black;
    height: 2px;
    width: 60%;
}

.line-above-maintitle {
    margin: 20px 0 50px 0;
    background-color: black;
    height: 2px;
    width: 60%;
}

.img-container {
    padding: 0 20px 0 20px;
}

.article-img {
    display: block;
    width: 100%;
    margin: 0 0 2px 0;
}

.article-img2 {
    display: block;
    width: 100%;
    padding: 0 0 20px 0;
}

.article-text-between-2img {
    text-align: left;
    padding: 30px 20px 30px 20px;
    letter-spacing: 1px;
    line-height: 25px;
}

.article-text-between-img-adress {
    padding: 30px 20px 0 20px;
    text-align: left;
    letter-spacing: 1px;
    line-height: 25px;
}

.article-text-between-title-img {
    padding: 0 20px 30px 20px;
    text-align: left;
    letter-spacing: 1px;
    line-height: 25px;
}

.adress {
    font-size: 13px;
    margin: 20px 0px 30px 0px;
}

.adress-text {
    padding: 20px;
    line-height: 25px;
    text-align: left;
}

.button {
    width: 100%;
}

.button-end {
    padding: 0 20px 30px 20px;
}

.button-between-adress-nexttitle {
    width: 38%;
    padding: 12px 0 12px 0;
    background-color: #ba9767;
    border: solid 2px;
    border-radius: 5px;
    border-color: #ba9767;
    color: white;
}

.button-after-adress {
    width: 100%;
    padding: 12px;
    background-color: #ba9767;
    border: solid 2px;
    border-radius: 5px;
    border-color: #ba9767;
    color: white;
}

.button-after-adress:active, .button-after-adress:focus, .button-between-adress-nexttitle:active, .button-between-adress-nexttitle:focus {
    background-color: #a58252;
    border-color: #a58252;
}