
* {
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 6.25%;
}

body {
    background: #000;
}

body, div, img, a, p, span {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: #222;
}

.container {
    width: 100%;
    padding: 50px 0;
    position: relative;
    z-index: 2;
    box-sizing: border-box;
}

.content {
    width: 100%;
    padding: 10px 0 50px;
    background: #fff;
    box-sizing: border-box;
    position: relative;
    border-radius: 24px 24px 0 0;
    border-top: solid #f9cd16 10px;
}

.content-title {
    font-size: 18rem;
    font-weight: bold;
    padding: 0 30px;
    margin: 40px 0 24px;
    letter-spacing: 1px;
}

.content-subtitle {
    font-size: 16rem;
    font-weight: normal;
    color: #717171;
    margin-top: 8px;
    padding-left: 14px;
    position: relative;
}

.content-subtitle.warning {
    display: inline-block;
    font-size: 14rem;
    color: #ff7162;
    background: #ffd6cf;
    border: solid #ff7e76 1px;
    border-radius: 2px;
    padding: 1px 6px;
    margin-top: 8px;
}

.content-subtitle:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background: #f9cd16;
}

.content-subtitle.warning:before {
    background: transparent;
}

.background-image {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-size: cover;
}

.background-image:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1));
}

.header-container {
    padding: 0 32px;
    box-sizing: border-box;
    color: #fff;
    margin-bottom: 32px;
}

.header-container .tag {
    display: inline-block;
    font-size: 16rem;
    background: rgba(255, 255, 255, 0.5);
    padding: 4px 12px;
    border-radius: 4px;
    margin: 0 0 8px 0;
}

.header-container .title {
    font-size: 30rem;
    font-weight: bold;
}

.header-container .subtitle {
    font-size: 13rem;
    margin: 8px 0 0 0;
    position: relative;
}

.header-container .simple-line {
    width: 100%;
    height: 1px;
    margin: 32px 0;
    background: rgba(255, 255, 255, 0.1);
}

.swiper-pagination {
    position: static !important;
    margin: 0 0 48px 0;
    display: flex;
    justify-content: center;
}

.custom-pagination {
    flex: 1;
    transform: scale(0.9);
    font-size: 14rem;
    display: inline-block;
    outline: none;
    padding: 8px 0;
    border-radius: 100px;
    border: solid rgba(255, 255, 255, 0.2) 1px;
}

.custom-pagination.swiper-pagination-bullet-active {
    /*background: rgba(250, 205, 22, 0.2);*/
    /*color: #ffff00;*/
    color: #fff;
    background: #f9cd16;
    border: solid transparent 1px;
}

/*module-1*/
.swiper-3 {
    padding: 0 20px;
    box-sizing: border-box;
}

.module-1 {
    width: 70%;
}

.module-1 .panel-block {
    width: 100%;
    display: block;
    background: #fff;
    overflow: hidden;
    /*padding: 16px;*/
    text-decoration: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.module-1 .panel-block .image {
    width: 100%;
    border-radius: 8px;
    /*-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);*/
    /*-moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);*/
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.module-1 .panel-block .btn-booking {
    width: 100%;
    background: #f9cd16;
    font-size: 14rem;
    padding: 12px 0;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.module-1 .panel-block .tag2 {
    display: inline-block;
    padding: 3px 6px;
    margin-bottom: 4px;
    font-size: 12rem;
    color: #222;
    text-align: center;
    border-radius: 2px;
    background: #f9cd16;
}

.module-1 .panel-block .info-block {
    padding: 16px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.module-1 .panel-block .info-block .title {
    font-size: 18rem;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 6px;
}

.module-1 .panel-block .info-block .tag {
    margin: 3px 0 0 0;
}

.module-1 .panel-block .info-block .tag span {
    color: #686868;
    border-right: solid #acacac 1px;
    font-size: 14rem;
    padding: 0 3px;
}

.module-1 .panel-block .info-block .tag span:last-child {
    border-right: solid transparent 1px;
}

.module-1 .panel-block .info-block .tag span:first-child {
    padding: 0 3px 0 0;
}

.module-1 .panel-block .reason {
    color: #686868;
    font-size: 14rem;
    padding: 0 3px;
    margin-bottom: 6px;
}

.module-1 .panel-block .info-block .price-block {
    width: 100%;
    margin: 10px 0 0 0;
}

.module-1 .panel-block .info-block .price-block > div {
    display: inline-block;
}

.module-1 .panel-block .info-block .price-block .price {
    font-size: 30rem;
    font-weight: bold;
    color: #db3323;
}

.module-1 .panel-block .info-block .price-block .unit-block {
    font-size: 12rem;
    line-height: 12px;
}

.module-1 .panel-block .info-block .price-block .unit-block div:last-child {
    text-decoration: line-through;
    color: #b4b4b4;
}

.module-1 .panel-block .info-block .price-block .button {
    float: right;
    font-size: 13rem;
    border-radius: 100px;
    border: solid #cfcfcf 1px;
    padding: 8px 16px;
    margin: 4px 0 0 0;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    -ms-transition: background 0.2s;
    -o-transition: background 0.2s;
    transition: background 0.2s;
}

.module-1 .panel-block .info-block .price-block .button:active {
    background: #cbcbcb;
    border: solid #cfcfcf 1px;
}

.bottom-info {
    color: #fff;
    font-size: 14rem;
    padding: 0 24px;
    margin: 40px 0 80px 0;
}

/*module-2*/

.swiper-1, .swiper-2 {
    padding: 0 20px;
    box-sizing: border-box;
}

.module-2 {
    width: 36%;
    text-align: center;
}

.module-2 .image {
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.module-2 .name {
    font-size: 13px;
    margin: 5px 0;
}

/*module-3*/

.module-3 {
    width: 60%;
    text-align: center;
}

.swiper-4 {
    padding: 0 20px;
    box-sizing: border-box;
}

.module-3 .panel-block {
    width: 100%;
    display: block;
    background: #fff;
    overflow: hidden;
    /*padding: 16px;*/
    text-decoration: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.module-3 .panel-block .image {
    width: 100%;
    border-radius: 2px;
    /*-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);*/
    /*-moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);*/
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
}

.module-3 .panel-block .btn-booking {
    width: 100%;
    background: #f9cd16;
    font-size: 14rem;
    padding: 12px 0;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.module-3 .panel-block .tag2 {
    display: inline-block;
    padding: 3px 6px;
    margin-bottom: 4px;
    font-size: 12rem;
    color: #222;
    text-align: center;
    border-radius: 2px;
    background: #f9cd16;
}

.module-3 .panel-block {
    padding: 16px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.module-3 .panel-block .title {
    font-size: 16rem;
    line-height: 20px;
    margin-bottom: 24px;
    position: relative;
}

.module-3 .panel-block .title:after {
    content: '';
    position: absolute;
    width: 20%;
    height: 2px;
    background: #f9cd16;
    left: 50%;
    bottom: -12px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.module-3 .panel-block .tag {
    margin: 3px 0 0 0;
}

.module-3 .panel-block .tag span {
    color: #686868;
    border-right: solid #acacac 1px;
    font-size: 14rem;
    padding: 0 3px;
}

.module-3 .panel-block .tag span:last-child {
    border-right: solid transparent 1px;
}

.module-3 .panel-block .tag span:first-child {
    padding: 0 3px 0 0;
}

.module-3 .panel-block .reason {
    color: #686868;
    font-size: 14rem;
    padding: 0 3px;
    margin-bottom: 16px;
}

.module-3 .panel-block .price-block {
    width: 100%;
    margin: 10px 0 0 0;
}

.module-3 .panel-block .price-block > div {
    display: inline-block;
}

.module-3 .panel-block .price-block .price {
    font-size: 30rem;
    font-weight: bold;
    color: #db3323;
}

.module-3 .panel-block .price-block .unit-block {
    font-size: 12rem;
    line-height: 12px;
}

.module-3 .panel-block .price-block .unit-block div:last-child {
    text-decoration: line-through;
    color: #b4b4b4;
}

.module-3 .panel-block .price-block .button {
    float: right;
    font-size: 13rem;
    border-radius: 100px;
    border: solid #cfcfcf 1px;
    padding: 8px 16px;
    margin: 4px 0 0 0;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    -ms-transition: background 0.2s;
    -o-transition: background 0.2s;
    transition: background 0.2s;
}

.module-3 .panel-block .price-block .button:active {
    background: #cbcbcb;
    border: solid #cfcfcf 1px;
}

/*=======适配======*/

@media screen and (max-width: 370px) {
    html {
        font-size: 4.25%;
    }

    .container {
        padding: 25px 0;
    }

    .header-container .simple-line {
        margin: 16px 0;
    }

    .swiper-pagination {
        margin: 0 0 24px 0;
    }

    .module-1 .panel-block {
        padding: 8px;
        margin: 0 0 8px 0;
    }

    .module-1 .panel-block .tag2 {
        padding: 2px 4px;
        margin: 4px 0;
    }

    .module-1 .panel-block .image {
        margin: 0 8px 0 0;
    }

    .module-1 .panel-block .info-block .price-block .button {
        padding: 4px 8px;
        margin: 4px 0 0 0;
    }

}

@media screen and (min-width: 371px) and (max-width: 380px) {
    html {
        font-size: 6%;
    }
}